################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Status_Plugin/v15
/.vs/Officer_Status_Plugin/v15/Server/sqlite3
*.sqlite-journal
/.vs/slnx.sqlite
